.picture-frame {
    border: solid 1px black;
    width: 10rem;
    background-image: url("https://www.cbc.ca/kidscbc2/content/the_feed/funnyfaces_dog.jpg");
    background-position: center;
    background-size: cover;
}